go 1.26.3

use (
	./packages/go-shared
	./platforms/advertising
	./platforms/aiml
	./platforms/analytics
	./platforms/api-gateway
	./platforms/billing
	./platforms/developer
	./platforms/fraud
	./platforms/fraud-risk
	./platforms/global-infra
	./platforms/live-commerce
	./platforms/live-scale
	./platforms/logistics-delivery
	./platforms/notification
	./platforms/notification-campaign
	./platforms/oms-fulfillment
	./platforms/payment-ledger
	./platforms/production-dashboard
	./platforms/rec-vector
	./platforms/recommendation
	./platforms/search
	./platforms/search-indexing
	./platforms/service-mesh
	./platforms/sre
	./platforms/user-behavior
	./proto
	./services/admin-panel
	./services/cart
	./services/catalog-product
	./services/oms-fulfillment
	./services/checkout
	./services/gateway
	./services/identity-auth
	./services/inventory
	./services/order
	./services/payment
	./services/product
	./services/promotion
	./services/rec-vector
	./services/shipment
	./tests/integration
)
